*.json
.venv
# Generated CSVs
data/processed/cluster_aviarios_processado.csv
data/processed/ConsumoRacaoLinhagens.csv
data/processed/microrregioes.csv
# O resultado do modelo está em:
# data/processed/predicted_consumption_per_bird.csv
data/processed/cluster_aviarios_encoded.csv
# Generated Plots
images/plots/*.png
# Generated Reports
reports/report.md
reports/feature_importances.md
# Python cache
src/__pycache__/
# Temporary files
data/processed/.~lock.*